In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

## Importing of Fish Dataset

In [4]:
df = pd.read_csv("Fish.csv")

In [5]:
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [44]:
#Seperation of independent and Dependent variables
X = df.iloc[:,1:7]
y= df.iloc[:,0]

In [45]:
X.head()

   Weight  Length1  Length2  Length3   Height   Width
0   242.0     23.2     25.4     30.0  11.5200  4.0200
1   290.0     24.0     26.3     31.2  12.4800  4.3056
2   340.0     23.9     26.5     31.1  12.3778  4.6961
3   363.0     26.3     29.0     33.5  12.7300  4.4555
4   430.0     26.5     29.0     34.0  12.4440  5.1340

In [46]:
y.head()

0    Bream
1    Bream
2    Bream
3    Bream
4    Bream
Name: Species, dtype: object

## Training and Testing Split

In [65]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=20)

## Model Making

In [97]:
classifier_model = RandomForestClassifier(n_estimators= 1000,max_depth = 8,random_state=20)
classifier_model.fit(X_train,y_train)

RandomForestClassifier(max_depth=8, n_estimators=1000, random_state=20)

In [98]:
y_pred = classifier_model.predict(X_test)

In [99]:
score = accuracy_score(y_test, y_pred)

In [100]:
score

0.7708333333333334

## Cross Validation of Models

In [95]:
#Cross validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.svm import SVC

models = []

models.append(('KNN', KNeighborsClassifier()))
models.append(('DT',  DecisionTreeClassifier()))
models.append(('RF',  RandomForestClassifier(n_estimators=100)))
models.append(('svc', SVC()))

In [96]:
from sklearn.metrics import f1_score
names = []
scores = []

for name, model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    scores.append(f1_score(y_test, y_pred,average = 'micro'))
    names.append(name)

tr_split = pd.DataFrame({'Name': names, 'Score': scores})
print(tr_split)

  Name     Score
0  KNN  0.458333
1   DT  0.687500
2   RF  0.770833
3  svc  0.500000

## Saving of the Model

In [102]:
import pickle
pickle_out = open("classifier_model.pkl","wb")
pickle.dump(classifier_model, pickle_out)
pickle_out.close()

In [103]:
classifier_model.predict([[290.0,24.0,26.3,31.2,12.4800,4.3056]])

array(['Bream'], dtype=object)